body
{
	font-family : "Trebuchet MS", sans-serif;
	background-color : #F3F3F3;
	color : black;
	font-size : 16px;
	vertical-align : middle;
	margin : 0px auto;
	width : 100%;
	background-image : url(../../images/logo/angora_small.png);
	background-repeat : no-repeat;
	background-position : 5px 40px;
}

#bodyWrapper
{
	vertical-align : middle;
	margin : 10px auto;
	width : 550px;
}

fieldset
{
	border : 0px;
}

img
{
	border : 0px;
}

a, a.link
{
	color : blue;
	background-color : transparent;
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

input[type="text"], input[type="password"], textarea
{
    color : #555753;
    background-color : #fff;
    border : 2px solid #d3d7cf;
    border-top : 2px solid #babdb6;
    border-left : 2px solid #babdb6;
    padding : 3px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus
{
    color : #000;
    background-color : #fff;
    border : 2px solid #3465a4;
}

input[type="submit"], input[type="button"]
{
	color : #F9F8F7;
	background-color : #4A7DAC;
	border-top-style : none;
	border-right-style : none;
	border-left-style : none;
	border-bottom-style : none;
	cursor : pointer;
}