.content
{
	vertical-align : middle;
	margin : 5px auto;
	margin-top : 20px;
	width : 490px;
}

.title
{
	color : black;
	font-size : 24px;
	text-align : center;
	margin-top : 25px;
}

.menu
{
	font-size : 14px;
	text-align : center;
}

.footNotes
{
	color : black;
	font-size : 14px;
	text-align : center;
	margin : 5px auto;
	width: 490px;
	border-top : dashed 1px black;
}

.footNotes a, a.link
{
	color : black;
	background-color : transparent;
}

.searchBox
{
	font-size : 14px;
	text-align : center;
	margin : 5px auto;
}

.pageLinks
{
	color : black;
	font-size : 13px;
	text-align : center;
	margin : 5px auto;
	width : 490px;
}

.pageLinks a, a.link
{
	color : black;
	background-color : transparent;
}

.posts
{
	margin : 10px auto;
}

.message
{
	color : black;
	background-color : transparent;
}

.topInfos
{
	color : white;
	background-color : #43a643;
}

.topInfos a, a.href
{
	color: white;
	background-color: transparent;
}

.tablePosts
{
	margin : 0px auto;
	width : 100%;
	background-color : transparent;
}

.tableReply
{
	margin : 0px auto;
	width : 80%;
	background-color : transparent;
	border-top : dashed 1px black;
}

.statistics
{
	width : 100%;
	margin : 5px auto;
}

.statistics a, a.href
{
	color : black;
	background-color : transparent;
}

.stats
{
	border : 0px solid black;
}

.topStats
{
	color : white;
	background-color : #43a643;
}

.signError
{
	color : white;
	background-color : #8b0000;
	text-align : center;
}

.signOK
{
	color : black;
	background-color : transparent;
	text-align : center;
}

.signOK a, a.href
{
	font-size : 12px;
}

.countriesTitle
{
	text-align : center;
	color : black;
	border-bottom : dashed 1px black;
}

.small
{
	font-size : 12px;
}