.content
{
	vertical-align : middle;
	margin : 5px auto;
	width : 500px;
}

.title
{
	background-color : #4A7DAC;
	color : #F9F8F7;
	font-size : 20px;
	text-align : center;
	margin : 5px auto;
}

.menu
{
	font-size : 16px;
	text-align : center;
	margin : 5px auto;
}

.footNotes
{
	background-color : #4A7DAC;
	color : #F9F8F7;
	font-size : 14px;
	text-align : center;
	margin : 5px auto;
}

.footNotes a, a.link
{
	color : #F9F8F7;
	background-color : transparent;
}

.searchBox
{
	font-size : 16px;
	text-align : center;
	margin : 5px auto;
}

.pageLinks
{
	background-color : #4A7DAC;
	color : #F9F8F7;
	font-size : 14px;
	text-align : center;
	margin : 5px auto;
	width : 500px;
}

.pageLinks a, a.link
{
	color : #F9F8F7;
	background-color : transparent;
}

.posts
{
	margin : 10px auto;
	border : 2px solid black;
	border-radius: 12px;
	padding: 10px;
	background-color: white;
}

.message
{
	color : black;
	background-color : white;
}

.topInfos
{
	color: black;
	/*background-color: #ecdfdf;*/
}

.topInfos a, a.href
{
	color: black;
	background-color: transparent;
}

.tablePosts
{
	margin : 0px auto;
	width : 100%;
	border : 0px solid black;
}

.tableReply
{
	margin : 0px auto;
	width : 80%;
	border: 2px solid black;
	border-radius: 12px;
	padding: 10px;
}

.statistics
{
	width : 100%;
	margin : 5px auto;
}

.statistics a, a.href
{
	color : black;
	background-color : transparent;
}

.stats
{
	border : 1px solid black;
}

.topStats
{
	color : #F9F8F7;
	background-color : #4A7DAC;
}

.signError
{
	color : white;
	background-color : #8b0000;
	text-align : center;
}

.signOK
{
	color : black;
	background-color : transparent;
	text-align : center;
}

.signOK a, a.href
{
	font-size : 12px;
}

.countriesTitle
{
	text-align : center;
	color : white;
	background-color : #4A7DAC;
}

img.rated{
	height:15px;
}