#errorReporting
{
	color : white;
	background-color : #8b0000;
	vertical-align : middle;
	text-align : center;
	width : 400px;
	height : 300px;
	padding : 5px;
	margin : 10px auto;
	border : 1px solid grey;
}

#debug
{
	vertical-align : middle;
	margin : 5px auto;
	width : 400px;
	background-color : gray;
	color : white;
	font-size : 14px;
	text-align : center;
}

#queriesList
{
	vertical-align : middle;
	margin : 5px auto;
	width : 400px;
	background-color : gray;
	color : white;
	font-size : 12px;
	text-align : left;
}